@page
@model PSI_Food_waste.Pages.Forms.RestaurantListModel
@{
}
<h2>Restaurants available</h2>

<form method="post" asp-page-handler="Filter">
    <label asp-for="SearchByCity">Select City: </label>
    <select style="width:100px;"
            name="SearchByCity" id="SearchByCity">
        <option value="None">None</option>
        <option value="Vilnius">Vilnius</option>
        <option value="Kaunas">Kaunas</option>
        <option value="Klaipeda">Klaipeda</option>
        <option value="Panevežys">Panevežys</option>
        <option value="Šiauliai">Šiauliai</option>
    </select>
    <button style="height:30px;" class="btn btn-primary">Filter</button>
</form>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">City</th>
            <th scope="col">Restaurant name</th>
            <th scope="col">Restaurant adress</th>
            <th scope="col">See products</th>
        </tr>
    </thead>

    @foreach (var restaurant in Model.restaurants)//.Where((restaurant, Model.SearchByCity) => restaurant.City.Equals(SearchByCity), SearchByCity))
    {
        <tr>
            <td>@restaurant.City</td>
            <td>@restaurant.Title</td>
            <td>@restaurant.Adress</td>
            <td>
                <form method="post" asp-page-handler="Select" asp-route-id="@restaurant.Id">
                    <button class="btn btn-primary">Select</button>
                </form>
            </td>
            @if (ViewData["User"] != null)
            {

                <td>
                    <form method="post" asp-page-handler="Subscribe" asp-route-id="@restaurant.Id">
                        <button class="btn btn-primary">Subscribe</button>
                    </form>
                </td>

            }
            else
            {
                <td>Login to subscribe</td>
            }
        </tr>
    }
</table>
<table>
    <tr>
        @if (ViewData["User"] != null)
        {
            //<td>@LoginScreenModel.CurrentUser.Email</td>
            //<td>@LoginScreenModel.CurrentUser.Username</td>
            //@foreach(var data in LoginScreenModel.CurrentUser.SubscribedRestaurants)
            //{
              //  <td>@data.Title </td>
            //}
        }
    </tr>
</table>
