@page "{ID?}"
@using PSI_Food_waste.Pages.Forms
@model PSI_Food_waste.Pages.Forms.RestaurantProductsModel
@{
}
<h1>Shopping cart</h1></>

<h2>Available products</h2>
<form method="post">
    <label asp-for="searchCriteria">product name: </label>
    <input type="text" asp-for="searchCriteria" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>




<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Forms/RestaurantProducts" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Discount size</th>
            <th scope="col">Size</th>
            <th scope="col">Gluten Free</th>
            <th scope="col">Left quantity</th>
            <th scope="col">Dar vienas</th>
            <th scope="col"></th>
        </tr>
    </thead>
    @*@foreach (var product in Model.products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@($"{product.Price:C}")</td>
                <td>@product.Size</td>
                <td>@Model.GlutenFreeText(product)</td>
            </tr>
        }*@
    @{
        
            foreach (var product in Model.orderProducts)
            {
                <tr>
                    <td>@product.Product.Name</td>
                    <td><strike style="color:red">@($"{product.Product.Price:C}")</strike>     @($"{product.Product.DiscountedPrice:C}") </td>
                    <td>@($"{(product.Product.Discount/100d):P0}")</td>
                    <td>@product.Product.Size</td>
                    <td>@Model.GlutenFreeText(product.Product)</td>
                    <td>@product.Quantity</td>
                    <td></td>
                    
                </tr>
            }
        }
</table>
<div style="width:100px; margin:1 auto;">
    <ul class="pagination">
        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                <a asp-page="/Forms/RestaurantProducts" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
            </li>
        }
        @if (Model.ShowNext)
        {
            <li class="page-item">
                <a asp-page="/Forms/RestaurantProducts" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>
